body {
    background-image: none;
}

h1 {
    font-family: Comic Sans MS, cursive;
    left: 100px;
}

.table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 660px;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}

.table_col th:first-child,
.table_col td:first-child {
    color: #000000;
    border-left: none;
}

.table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}

.table_col td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}

#one,
#two {
  position: absolute;
  top: 360px;
}


#header,
img {
  position: absolute;
}

#header {
  height: 210px;
  width: 900px;
}

#header h6 {
  padding: 30px;
  line-height: 200%;
}

img {
  height: 300px;
  left: 1000px;
}

#one {
  width: 750px;
  bottom: 0;
}

#two {
  left: 750px;
}

h2 {
  text-align: center;
}
