<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/signin.css') }}">
</head>

<body>
  <form action="/signin" method="post">

    <div class="form-field">
      <input type="email" name="username" placeholder="Email / Username" required="">
    </div>
    <div class="form-field">
      <input type="password" name="password" placeholder="Password" required="">
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h5>{{ message }}</h5>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-field">
      <button class="btn" type="submit">Log in</button>
    </div>
  </form>


  <script async="true" type="text/javascript"
    src="https://www.googletagmanager.com/gtag/js?id=G-2BMVGTJJG1&amp;l=dataLayer&amp;cx=c"></script>
  <script async="true" type="text/javascript" src="https://www.google-analytics.com/analytics.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2" type="text/javascript"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80520768-2');
  </script>
  <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8329113460419074"
    crossorigin="anonymous" type="text/javascript"></script>

  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8329113460419074" data-ad-slot="2986786685"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script type="text/javascript">
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-2BMVGTJJG1" type="text/javascript"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-2BMVGTJJG1');
  </script>

</body>

</html>